<?xml version="1.0" encoding="UTF-8"?>
<suite name="OpenWeatherTests">
    <listeners>
        <listener class-name="com.qualitydevotee.listeners.ExtentReportListener"/>
    </listeners>
    <test name="OpenWeatherTest">
        <classes>
            <class name="com.qualitydevotee.test.AccuWeatherTest"></class>
        </classes>
    </test>
</suite>